<!DOCTYPE html>
<html class="js" lang="en">

<head>
  <title>Service Pension - Required documents | MyService</title>
<%- include(partials+"components/layout/head") %>
</head>

<body class="uikit-body uikit-grid uikit-refactor">
  <noscript>
    <p role="alert">This website needs JavaScript to work properly.</p>
  </noscript>
  <nav class="uikit-skip-link">
    <a class="uikit-skip-link__link" href="#main-content">Skip to main content</a>
  </nav>
  <%- include(partials+"components/layout/header-topbar") %>
  <%- include(partials+"components/layout/header-claims") %>
  <%- include(partials+"components/layout/header-nom-rep") %>

  <main id="main-content">
    <div class="container">
      <div id="progressbar">
        <div id="percentage">
          <p id="percentage_value"></p>
        </div>
      </div>

      <h1>
        <span class="heading">Required documents</span>
      </h1>
      <h2 class="margin-above--large">
        <span class="font-weight-heavy">Documents required</span>
      </h2>
      <div class="bank-details-container">
        <div class="col-xs-12 col-sm-8 col-lg-6 boxed">
        </div>
      </div>

      <!-- bottom page navigation -->
      <div class="pagination">
        <a href="/auth/claim/sp-claim-contact"><button class="uikit-btn uikit-btn--tertiary"  >Previous</button></a>
        <a href="#open-modal"><button class="uikit-btn uikit-btn--tertiary"  >Cancel claim</button></a>
        <div class="floated">
          <a href="/auth/claim"><button class="uikit-btn uikit-btn--tertiary"  >Save and exit</button></a>
          <a href="/auth/claim/sp-financial-details"><button class="uikit-btn btnNext"  >Save and next</button></a>
        </div>
      </div>
      <%- include(partials+"content/modals/claims-cancel-modal") %>
    </div>

  </main>

  <%- include(partials+"components/layout/footer") %>


  <script>
    // Progress percentage
    document.getElementById("percentage").style.width = "60%";
    document.getElementById("percentage_value").textContent = "60%";
  </script>


</body>

</html>